.brand {
  background-color: #f29b38;
}

.light {
  background-color: #ffcc68;
}

.dark {
  background-color: #e29121;
}

.dark-brand {
  background-color: #212121;
}
.text-brand {
  color: #212121 !important;
}
.text-black {
  color: #000000 !important;
}
.text-bold {
  font-weight: 900;
}
.txt-dark {
  color: #e29121;
}

.btn-deep {
  background-color: #f29b38 !important;
}

.dark-light {
  background-color: #484848;
}

.dark-black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
}

.light-grey {
  background-color: #fafafa;
}

.grey {
  background-color: #f5f5f5;
}
